# fly.toml app configuration file for fido-social
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fido-social'
primary_region = 'ord'

[build]
  dockerfile = "Dockerfile"

[env]
  DATABASE_PATH = '/data/fido.db'
  RUST_LOG = 'info'
  HOST = '0.0.0.0'

[[mounts]]
  source = 'fido_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  max_retries = 2

  
[[services]]
  protocol = 'tcp'
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']